p{
    font-weight: lighter!important;
    font-size: x-large!important;
}

#top{
    text-decoration: underline!important;
}

.emphasizedText{
    font-style: italic!important;
    color: rgb(18, 208, 215)!important;
}

body{
    background-color: cornflowerblue!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
    border: 5px solid black!important;
    margin: 40px!important;
    padding: 20px!important;
    text-align: center!important;
}

h3{
    text-align: left!important;
}

ul{
    list-style-position: inside!important;
    text-align: left!important;
}

ol{
    list-style-position: inside!important;
    text-align: left!important;
}

img{
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 25%!important;
}
